.square {
    height: 5vw;
    width: 5vw;
    float: left;
    box-shadow: 0px 0px 1px 1px #55222288;
}

.empty {
    background-color: #FF6666;
}

.yellow {
    background-color: #ffff00;
}

.food {
    background-color: #30EE06;
}

.Container {
    margin: 0 auto;
    /*width: 100vh;
    /*display: none; /*REMOVE ME*/
}